.menu-tab{
    width: 100%;
    display: block;
    background: black;
    position: fixed;
    bottom: 0;
    box-shadow: 0 0 1px #000;
    text-align: center

}
.menu-tab>li{
    width: 24.2%;
    margin: 0 auto;
    margin-left: 0 !important;
    display: inline-block;
    font-size: 10pt;
}
@media(max-width:320px) {
    .menu-tab>li {
        width :24%;
        font-size: 8pt!important;
    }
}

.menu-tab>li a {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: gainsboro;
}
 .menu-tab>li>a:hover,.menu-tab>li.active a, .menu-tab>li.active a:hover, .menu-tab>li.active a:focus {
    background-color: gainsboro!important;
    color: black;
    border-radius: 0;
}


.main{
    margin-bottom : 70px;


}
#kat .sparate{
    margin-bottom: 20px;
}
.submenu{
    background-color: #484848;
    border-radius: 4px;
    display: block;
    margin: 10px 0;

}
.submenu li{
    display: inline-block !important;
    width: 24%;


}
.submenu>li> a, .submenu li a:hover, .submenu li a:focus,.submenu li.active a, .submenu>li.active a:hover, .submenu>li.active a:focus {
    color: white;
    display: block;
    padding: 15px;
    text-align: center;
    font-size: 8pt;
}
#kat .caption .judul{
    font-size: 9pt;
}
.judul{
    font-size: 10pt;
    font-weight: bold;
}
.main .thumbnail{
    margin-bottom: 5px;
}
.main .banner{
    width: 100%;
    height: 130px;
    border-radius: 5px;
    background-size: 100%;
    padding: 10px;
}
.main .banner p{
    position: relative;
    margin-top: 65px;
    font-size: 9pt;
    color: white;
}
.main .banner img{
    width: 50px;
}
.main .banner .tombol{
    display: inline-block;
    font-size: 7pt;
    padding: 5px 20px;
    position: absolute;
    right: 0;
}
.main #profile img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;

}
.main #profile p{
    margin-top: 10px;

}
.main #profile p .tombol{
    margin: 0 auto;
}
.main #help a:hover, .main #help a:focus {
    color: white;
    text-decoration: none;
}
.main #help1 a:hover, .main #help1 a:focus {
    color: white;
    text-decoration: none;
}
.main #order .status {
    color: orangered;
    font-size: 8pt;
}
.main #order >p {
    padding-left: 15px;
    font-size: 9pt;
    margin: 8px 0;
}
.main #order img {
    width: 50px;
}
.main #order .list-group a{
    border-left: none;
    border-right: none;
}
.main #order >p>a, .main #order >p>a:hover, .main #order >p>a:focus {
    color: orangered;
    position: absolute;
    right: 15px;
    text-decoration: none;
}
.balik, .balik:focus{
    background: none;
    border: none;
    padding-left: 0;
}

 #cartbox{
      border: 0px solid #fff;
      margin: 0 0 0 0;
      width: 50px;
      font-size: 19pt;
      color: #fff;
      float: right;
  }
